<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<startup useLegacyV2RuntimeActivationPolicy="true" />
    <appSettings>
        <add key="TableName" value="NS03.xlsx"/>
    </appSettings>
</configuration>